{% extends "base.html" %}


{% block title %}
<title>Home</title>
{% endblock title %}

{% block icons %}
<div class = icons>
  <div class = other_icon>
    <a href="home.html"><img src="static/Resources/home_pressed.png" alt="Home"></a>
  </div>
  <div class = "current">
      <a href="coupon.html"><img src="static/Resources/coupon.png" alt="Coupon"></a>
  </div>
  <div class = other_icon>
    <img src="static/Resources/user.png" alt="User">
  </div>
</div>
{% endblock icons %}

{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = text>
          Home
        </div>
      </div>
    </div>
{% endblock page_name %}
