{% extends "base.html" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="static/submissionFields.css">
  <link rel="stylesheet" type="text/css" href="static/coupon.css">
{% endblock style %}

<!DOCTYPE html>
<html lang="en">

{% block page_name %}
    <head>
        <meta charset="UTF-8">
        <title>Update achievement</title>
    </head>
{% endblock page_name %}

{% block content %}
    <div class = parent_qr>
        <div class = title>
            <div class = text>
              QR code:
            </div>
          </div>

        <div class = image>
            <img src="{{ imgurl }}" align="center">
        </div>

        <div class = submit_button>
            <a href="inProgressAchievements{{ rid }}"><input type="submit" value="Go Back"></a>
        </div>
    </div>
{% endblock content %}
</html>