<!--                                          ----
----  Base.html contains all common html      ----
----  All other .html files extend base.html  ----
----                                          --->


<!doctype html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name=”viewport” content=”width=device-width, initial-scale=1″>
      <link rel="stylesheet" type="text/css" href="/static/common.css">
      {% block style %} {% endblock style %}
      {% block title %} {% endblock title %}
  </head>
  <body>
      <header>
          <div class = logo>
            <a href="login">PickEasy</a>
          </div>
          {% if 'account' in session %}
            <div class = icons>
              {% if session['type'] == -1 %}
                <a href="search.html"><img src="static/Resources/search{% block search %}{% endblock search %}.png" alt="Search"></a>
              {% endif %}
                <a href="home.html"><img src="static/Resources/home{% block home %}{% endblock home %}.png" alt="Home"></a>

              {% if session["type"] == -1 %}
                <a href="favourites.html"><img src="static/Resources/fork{% block restaurant %}{% endblock restaurant %}.png" alt="Restaurants"></a>
              {% endif %}



              <!-- This is only displayed if they screen size is larger then 700px -->
              <div class = coupon_large>
                <a href="coupon.html">
                    <img src="static/Resources/coupon{% block coupon %}{% endblock coupon %}.png" alt="Coupon">
                </a>
              </div>

              <!-- This is only displayed if they screen size is smaller then 700px -->
              <div class = small_window>
                <button onclick="dropdown_menu()" class="coupon_drop_down">
                  <img src="static/Resources/coupon{% block coupon2 %}{% endblock coupon2 %}.png" alt="Coupon" class = coupon>
                </button>
                <div id="dropdown" class="dropdown_container">
                  <a href="coupon.html">My Coupons</a>
                  {% if session['type'] == 1 or session["type"] == 2 %}
                    <a href="createCoupon.html">Create a Coupon</a>
                    <a href="viewUserCoupons.html">View Customer Coupons</a>
                  {% endif %}
                </div>
              </div>
              {% if session['type'] != -1 %}
                <a href="achievement.html"><img src="static/Resources/achievement{% block achievement %}{% endblock achievement %}.png" alt="Achievement"></a>
              {% endif %}
              {% if session['type'] == 1 or session["type"] == 2 %}
                <a href="employee.html"><img src="static/Resources/employee{% block employee %}{% endblock employee %}.png" alt="Employee"></a>
              {% endif %}
                <a href="profile.html"><img src="static/Resources/user{% block profile %}{% endblock profile %}.png" alt="User"></a>
            </div>
          {% endif %}

      </header>
      {% block sidebar %}
      {% endblock sidebar %}
      <div class = line>
        <hr>
      </div>
      {% block page_name %}
          <div class = parent>
            <div class = title>
              <div class = text>
              </div>
            </div>
          </div>
      {% endblock page_name %}

          {% block content %} {% endblock content %}

      </body>
       <script type="text/javascript" src = "static/common.js"></script>
      {% block script %} {% endblock script %}

      <!-- Footer -->
      <footer>
          <div class = "creators">
              <p>© 2020 Designed by Enterprise </p>
          </div>
      </footer>


</html>
