<!--                                          ----
----  createCoupon.html contains all frontend ----
----         html For the coupon page         ----
----                                          --->

<!--                                          ----
---- ownersCoupon.html contains all frontend  ----
----     html for the owners view of the      ----
----               coupon page                ----
----                                          --->

{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" href="../static/submissionFields.css">
<link rel="stylesheet" type="text/css" href="static/coupon.css">
<link rel="stylesheet" type="text/css" href="static/sidebar.css">
{% endblock style %}

{% block title %}
<title>Create a Coupon</title>
{% endblock title %}

{% block coupon %}_pressed{% endblock coupon %}
{% block coupon2 %}_pressed{% endblock coupon2 %}

{% block sidebar %}
{% if session['type'] == 1  or session['type'] == 2 %}
<div class="sidenav">
  <div class = side_title>
    Coupons
  </div>
  <a href="coupon.html">
    <div class = but>
      <button type="button">
        <img src="static/Resources/coupon_pressed.png" alt="Coupon" class = coupon>
        Coupons
      </button>
    </div>
  </a>
  <a href="createCoupon.html">
    <div class = but>
      <button type="button">
        <img src="static/Resources/plus.png" alt="Coupon">
        Create A Coupon
      </button>
    </div>
  </a>

  <a href="couponStats.html">
    <div class = but>
      <button type="button">
        <img src="static/Resources/eye.png" alt="Coupon">
        Coupon Stats
      </button>
    </div>
  </a>
</div>
{% endif %}
{% endblock sidebar %}

{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = text>
          Create a Coupon
        </div>
      </div>
    </div>
{% endblock page_name %}

{% block content %}

    {% if errmsg %}
      <div class = parent>
        Could not create a coupon because of the following: <br>
        {% for msg in errmsg %}
          <li>{{msg}} </li>
        {% endfor %}
      </div>
    {% endif %}

      <div class = parent>
        <form method = "post">
          <div class = textfeilds>
            <div class = feild>
                <label>Coupon Name</label>
                  {% if 'name' in info %}
                    <input type="text" name="name" value = {{info["name"]}}>
                  {% else %}
                    <input type="text" name="name">
                  {% endif %}
            </div>
            <div class = feild>
              <label>Cost to Redeem</label>
              <div class = points>
                {% if 'points' in info %}
                  <input type="number" name="points" value = {{info["points"]}}>
                {% else %}
                <input type="number" name="points">
                {% endif %}
                <div class = right>
                  Points
                </div>
              </div>
            </div>
            <div class = feild>
              <label>Description</label>
              {% if 'description' in info %}
              <textarea name = "description">{{info["description"]}}</textarea>
              {% else %}
                <textarea name = "description"></textarea>
              {% endif %}
            </div>
            <div class = container>
              <input type="checkbox" name="indefinite" value="Indefinite" id = "indefinite" onclick="checkbox('dates')">
              <label for="indefinite"> Valid Indefinitely</label><br>
            </div>

            <div class = col id = "dates">
              <div class = feild>
                  <label>Begin Data</label>
                  {% if 'begin' in info %}
                    <input type="date" name="begin" value = {{info["begin"]}}>
                  {% else %}
                    <input type="date" name="begin">
                  {% endif %}
              </div>
              <div class = feild>
                  <label>Expiration Date</label>
                  {% if 'expiration' in info %}
                    <input type="date" name="end" value = {{info["expiration"]}}>
                  {% else %}
                    <input type="date" name="end">
                  {% endif %}
              </div>
            </div>
          </div>
          <div class = submit_button>
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
{% endblock content %}

  {% block script %} <script type="text/javascript" src = "static/coupons.js"></script>{% endblock script %}
