<!--                                               ----
----  createAchievement.html contains all frontend ----
----         html For the Achievement page         ----
----                                               --->

<!--                                          ----
---- ownersCoupon.html contains all frontend  ----
----     html for the owners view of the      ----
----               Achievement page                ----
----                                          --->

{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" href="../static/submissionFields.css">
<link rel="stylesheet" type="text/css" href="static/achievement.css">
{% endblock style %}

{% block title %}
<title>Create an Achievement</title>
{% endblock title %}

{% block icons %}
<div class = icons>
  <div class = other_icon>
    <a href="home.html"><img src="static/Resources/home.png" alt="Home"></a>
  </div>
  <div class = other_icon>
      <a href="coupon.html"><img src="static/Resources/coupon.png" alt="Coupon"></a>
  </div>
  <div class = "current">
    <a href="achievement.html"><img src="static/Resources/achievement.png" alt="Achievement"></a>
</div>
  {% if session['type'] == 1 %}
  <div class = other_icon>
    <a href="employee.html"><img src="static/Resources/employee.png" alt="Employee"></a>
  </div>
  {% endif %}
  <div class = other_icon>
    <a href="profile.html"><img src="static/Resources/user.png" alt="User"></a>
  </div>
</div>
{% endblock icons %}

{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = text>
          Create an Achievement
        </div>
      </div>
    </div>
{% endblock page_name %}

{% block content %}

    {% if errmsg %}
      <div class = parent>
        Could not create an achievement because of the following: <br>
        {% for msg in errmsg %}
          <li>{{msg}} </li>
        {% endfor %}
      </div>
    {% endif %}

      <div class = parent>
        <form method = "post">
          <div class = textfeilds>
            <div class = feild>
                <label>Achievement Name</label>
                  {% if 'name' in info %}
                    <input type="text" name="name" value = {{info["name"]}}>
                  {% else %}
                    <input type="text" name="name">
                  {% endif %}
            </div>

            <div class = feild>
              <label>Description</label>
              {% if 'description' in info %}
              <textarea name = "description">{{info["description"]}}</textarea>
              {% else %}
                <textarea name = "description"></textarea>
              {% endif %}
            </div>
            
            <div class = feild>
              <label>Reward experience</label>
              <div class = points>
                {% if 'experience' in info %}
                <input type="number" name="experience" value = {{info["experience"]}}>
                {% else %}
                <input type="number" name="experience">
                {% endif %}
                <div class = right>
                  Experience
                </div>
              </div>
            </div>

            <div class = feild>
              <label>Reward points</label>
              <div class = points>
                {% if 'points' in info %}
                <input type="number" name="points" value = {{info["points"]}}>
                {% else %}
                <input type="number" name="points">
                {% endif %}
                <div class = right>
                  Points
                </div>
              </div>
            </div>

            <div class = container>
              <input type="checkbox" name="Item" value="Item" id = "Item" onclick="checkbox('requireFee', 'requireItem')">
              <label for="Item"> Item</label><br>
            </div>

            <div class = feild id = "requireFee">
                <label>Require amount of Fee</label>
                <div class = points>
                {% if 'requireFee' in info %}
                <input type="number" name="requireFee" value = {{info["requireFee"]}}>
                {% else %}
                <input type="number" name="requireFee">
                {% endif %}
                <div class = right>
                  Dollar
                </div>
              </div>
            </div>

            <div class = feild id = "requireItem">
              <label>Require number of Item</label>
              <div class = points>
                {% if 'requireItem' in info %}
                <input type="number" name="requireItem" value = {{info["requireItem"]}}>
                {% else %}
                <input type="number" name="requireItem">
                {% endif %}
                <div class = right>
                  Item
                </div>
              </div>
            </div>
          </div>

          <div class = submit_button>
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
{% endblock content %}

  {% block script %} <script type="text/javascript" src = "static/achievement.js"></script>{% endblock script %}
