<!--                                          ----
---- employee.html contains all frontend  ----
----     html for the owners view of the      ----
----               employee page                ----
----                                          --->

{% extends "base.html" %}
{% block style %}<link rel="stylesheet" type="text/css" href="static/coupon.css">{% endblock style %}
{% block title %}
<title>My Coupons</title>
{% endblock title %}

{% block icons %}
<div class = icons>
  <div class = other_icon>
    <a href="home.html"><img src="static/Resources/home.png" alt="Home"></a>
  </div>
  <div class = "current">
      <a href="coupon.html"><img src="static/Resources/coupon.png" alt="Coupon"></a>
  </div>
  {% if owner %}
  <div class = other_icon>
    <a href="employee.html"><img src="static/Resources/employee_pressed.png" alt="Employee"></a>
  </div>
  {% endif %}
  <div class = other_icon>
    <a href="profile.html"><img src="static/Resources/user.png" alt="User"></a>
  </div>
</div>
{% endblock icons %}

{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = text>
          Employees
        </div>
        <div class = plus>
          <a href="addEmployee.html">+</a>
        </div>
      </div>
    </div>
{% endblock page_name %}

  {% block content %}
    {% for e in employee %}
      <div class = parent>
        <div class = name>
          {{ c.name }}
        </div>
      </div>
    {% endfor %}
  {% endblock content %}
