<!--                                          ----
---- employee.html contains all frontend      ----
----     html for the owners view of the      ----
----               employee page              ----
----                                          --->

{% extends "base.html" %}
{% block style %}<link rel="stylesheet" type="text/css" href="static/employee.css">{% endblock style %}
{% block title %}
<title>Employees</title>
{% endblock title %}

{% block employee %}_pressed{% endblock employee %}

{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = headline>
          Employees
        </div>
        {% if session["type"] == 1 %}
          <div class = plus>
            <a href="registration2.html">+</a>
          </div>
        {% endif %}
      </div>
      <div class = fine_print>
        Adding an employee account to your restaurant will give the account the ability to scan customer coupons.<br>
        Promoting an employee to manger gives them the ability to create, remove and view stats of coupons and achievements.
      </div>
    </div>
    <form method = "post">
      <div class = filter_nav_container>
        <div class = parent>
          <div class = filter_nav>
            {% if filter == 1 %}
              <div class = current><input type = "submit" value = "All" name = all></div>
            {% else %}
              <input type = "submit" value = "All" name = all>
            {% endif %}
            {% if filter == 0 %}
              <div class = current><input type = "submit" value = "General" name = general></div>
            {% else %}
              <input type = "submit" value = "General" name = general>
            {% endif %}
            {% if filter == 2 %}
              <div class = current><input type = "submit" value = "Manager" name = manager></div>
            {% else %}
              <input type = "submit" value = "Manager" name = manager>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
{% endblock page_name %}

  {% block content %}
    {% for e in employees %}
      {% if filter == 1 or (filter == 2 and e["type"] == 2) or (filter == 0 and e["type"] == 0) %}
        <div class = parent>
          <div class = title>
            <div class = subsubtitle>
              {{ e["name"] }}
            </div>
            {% if session["type"] == 1 %}
            <div class = settings_dropdown>
              <button class = settings><img src="static/Resources/gear.png" alt="Settings"></button>
              <div class = options>
                <form method = "post">
                  {% if e["type"] == 0 %}
                    <input type="submit" value = "Promote" name = promote>
                  {% else %}
                    <input type="submit" value = "Demote" name = depromote>
                  {% endif %}
                  <input type="submit" value = "Delete" name = delete>
                  <input type="hidden" value = {{e["uid"]}} name = user>
                </form>
              </div>
            </div>
            {% endif %}
          </div>
          <div class = body>
            Email: {{ e["email"] }}
          </div>
          <div class = body>
            {% if e["type"] == 2 %}
              Employee Type: Manager
            {% else %}
              Employee Type: Regular
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endblock content %}

  {% block script %} <script type="text/javascript" src = "static/employeeDeletion.js"></script>{% endblock script %}
