{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" href="static/submissionFields.css">
<link rel="stylesheet" type="text/css" href="static/search.css">
{% endblock style %}
{% block title %}
<title>Visited Restaurants</title>
{% endblock title %}

{% block restaurant %}_pressed{% endblock restaurant %}

{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = text>
          My Favourite Restaurants
        </div>
      </div>
    </div>
{% endblock page_name %}


{% block content %}
  {% for r in restaurants %}
  <div class = parent>
    <div class = container>
      <div class = left_container>
          <div class = name>
            {{ r['name'] }}
          </div>
          <div class = address>
            {{ r['address'] }}
          </div>
      </div>
      <div class = right_container>
        <div class = goto>
          <form method = "post">
            <div class = submit_button>
              <input type="submit" value="Visit">
              <input type="hidden" name = "rid" value = {{r['rid']}}>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock content %}
