{% extends "base.html" %}

{% block title %}
<title>Home</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="static/restaurant.css">
<link rel="stylesheet" type="text/css" href="static/coupon.css">
{% endblock style %}

{% block home %}_pressed{% endblock home %}

{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = text>
          Welcome, {{ user['name'] }}
        </div>
      </div>
    </div>
{% endblock page_name %}

{% block content %}
  <!-- Customer view-->
  {% if session['type'] == -1 %}
    <div class = parent>
      <div class = title>
        <div class = text>
          Recently Purchased Coupon:
        </div>
      </div>
      {% for c in coupons %}
          <div class = container>
            <div class = name>
              {{ c["cname"] }}
            </div>
            <div class = amount>
              {{ c["rname"] }}, at {{c["raddress"]}}
            </div>
            <div class = description>
              {{ c["cdescription"] }}
            </div>
            <div class = expiration>
              {% if c["begin"] == None or c["expiration"] == None %}
                Valid indefinitely
              {% else %}
                Valid from: {{ c["begin"] }} to {{ c["expiration"] }}
              {% endif %}
            </div>
          </div>
      {% endfor %}
      {% if coupons == [] %}
          You currently have no coupons. <br>
          Search for restaurants and see what coupons are available.
      {% endif %}
      <a href="coupon">
        <div class = seeMore>
          <button type="button">
            View All My Coupons
          </button>
        </div>
      </a>
    </div>

    <div class = parent>
      <div class = title>
        <div class = text>
          Recently Favourited Restaurants:
        </div>
      </div>
      {% for r in restaurants %}
          <div class = container>
            <div class = name>
              {{ r["name"] }}
            </div>
            <div class = amount>
              {{ r["address"] }}
            </div>
          </div>
      {% endfor %}
      {% if restaurants == [] %}
          You currently have no favourited restaurants. <br>
          Search for your favourite restaurants and heart them.
      {% endif %}
      <a href="favourites">
        <div class = seeMore>
          <button type="button">
            View All Favourited Restaurants
          </button>
        </div>
      </a>
    </div>
  {% endif %}
  {% if session['type'] >= 0 %}
    <div class = parent>
      <div class = title>
        {% if session['type'] == 0 %}
        <div class = text>
          Employer:
        </div>
        {% else %}
        <div class = text>
          My Restaurant:
        </div>
        {% endif %}
      </div>
      <div class = text>
        {{ rname }}
      </div>
      <div class = subtext>
        at {{ raddress }}
      </div>
    </div>
  {% endif %}

  {% if session['type'] == 1 %}
  <div class = parent>
    <div class = title>
      <div class = text>
        Most Owned Coupons:
      </div>
    </div>
    {% for c in top_owned_coupons %}
        <div class = container>
          <div class = title>
            <div class = name>
              {{ c['name'] }}
            </div>
            <div class = status>
              {% if c['expiration'] and today > c['expiration'] %}
                Status: Expired
              {% elif c['deleted'] == 1%}
                Status: Deleted
              {% else %}
                <div class = placeholder> Status:&nbsp;</div>
                <div class = active>Active</div>
              {% endif %}
            </div>
          </div>
          <div class = description>
            {{ c["description"] }}
          </div>
          <div class = holder>
            Number of copies held by customers: {{ c['holders'] }}
          </div>
          </div>
    {% endfor %}
    <a href="viewUserCoupons">
      <div class = seeMore>
        <button type="button">
          View All Coupon Statistics
        </button>
      </div>
    </a>
  </div>

  <div class = parent>
    <div class = title>
      <div class = text>
        Most Used Coupons:
      </div>
    </div>
    {% for c in top_used_coupons %}
        <div class = container>
          <div class = title>
            <div class = name>
              {{ c['name'] }}
            </div>
            <div class = status>
              {% if c['expiration'] and today > c['expiration'] %}
                Status: Expired
              {% elif c['deleted'] == 1%}
                Status: Deleted
              {% else %}
                <div class = placeholder> Status:&nbsp;</div>
                <div class = active>Active</div>
              {% endif %}
            </div>
          </div>
          <div class = description>
            {{ c["description"] }}
          </div>
          <div class = holder>
            Number of copies used by customers: {{ c['used'] }}
          </div>
          </div>
    {% endfor %}
    <a href="viewUserCoupons">
      <div class = seeMore>
        <button type="button">
          View All Coupon Statistics
        </button>
      </div>
    </a>
  </div>

  <div class = parent>
    <div class = title>
      <div class = text>
        Most Popular Achievements:
      </div>
    </div>
    {% for a in achievements %}
      <div class = container>
        <div class = title>
          <div class = name>
            {{ a["name"] }}
          </div>
          <div class = status>
            {% if a['expired'] == 1 %}
              Status: Expired
            {% else %}
              <div class = placeholder> Status:&nbsp;</div>
              <div class = active>Active</div>
            {% endif %}
          </div>
        </div>
        <div class = description>
          {{ a["description"] }}
        </div>
        <div class = holder>
          Number of customers who have worked on this achievement: {{ a['progress_entries'] }}
        </div>
      </div>
    {% endfor %}
    <a href="achievementStats">
      <div class = seeMore>
        <button type="button">
          View All Achievement Statistics
        </button>
      </div>
    </a>
  </div>
  {% endif %}

{% endblock content %}
