{% extends "base.html" %}

{% block title %}
<title>Home</title>
{% endblock title %}

{% block home %}_pressed{% endblock home %}

{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = text>
          Home
        </div>
      </div>
    </div>
{% endblock page_name %}

{% block content %}
  {% if session['type'] == 0 %}
    <div class = parent>
      <div class = title>
        <div class = text>
          Employer:
        </div>
      </div>
      <div class = text>
        {{ rname }}
      </div>
      <div class = subtext>
        at {{ raddress }}
      </div>
    </div>
  {% endif %}
{% endblock content %}
