{% extends "base.html" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="static/submissionFields.css">
  <link rel="stylesheet" type="text/css" href="static/profile.css">
{% endblock style %}

{% block title %}
<title>My Profile</title>
{% endblock title %}

{% block profile %}_pressed{% endblock profile %}

{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = text>
          My Profile
        </div>
      </div>
    </div>
{% endblock page_name %}

{% block content %}
  <div class = parent>
    You are currently signed in as a
    {% if session["type"] == -1 %}
      customer
    {% elif session["type"] == 0 %}
      employee
    {% else %}
      owner
    {% endif %}
    <br>
    Name: {{ user["name"] }}
    <br>
    Email: {{ user["email"] }}
  </div>
  <div class = parent>
    <div class = submit_button>
      <a href="logout.html"><input type="submit" value="Logout"></a>
    </div>
  </div>
{% endblock content %}
