{% extends "base.html" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="static/submissionFields.css">
  <link rel="stylesheet" type="text/css" href="static/profile.css">
{% endblock style %}

{% block title %}
<title>My Profile</title>
{% endblock title %}

{% block profile %}_pressed{% endblock profile %}

{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = text>
          My Profile
        </div>
      </div>
    </div>
{% endblock page_name %}

{% block content %}
  <div class = parent>
    <b>You are currently signed in as
    {% if session["type"] == -1 %}
      a customer.
    {% elif session["type"] == 0 %}
      an employee.
    {% elif session["type"] == 1 %}
      an owner.
    {% else %}
      a manager.
    {% endif %}
    </b>
    <br>
    <b>Name:</b> {{ user["name"] }}
    <br>
    <b>Email:</b> {{ user["email"] }}
  </div>
  {% if session['account'] == 1 %}
  <div class = parent>
    <b>Restaurant Name:</b> {{ rname }}
    <br>
    <b>Restaurant Address:</b> {{ raddress }}
    <br>
    <div class = submit_button>
      <a href="editRestaurantInfo.html"><input type="submit" value="Edit"></a>
    </div>
  </div>
  {% endif %}

  <div class = parent>
    <div class = submit_button>
      <a href="logout.html"><input type="submit" value="Logout"></a>
    </div>
  </div>
{% endblock content %}
