{% extends "base.html" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="static/submissionFields.css">
{% endblock style %}

{% block title %}
<title>Create an Account</title>
{% endblock title %}

{% block icons %}
<div class = icons>
  <div class = other_icon>
    <a href="home.html"><img src="static/Resources/home.png" alt="Home"></a>
  </div>
  <div class = "current">
      <a href="coupon.html"><img src="static/Resources/coupon.png" alt="Coupon"></a>
  </div>
  {% if owner %}
  <div class = other_icon>
    <a href="employee.html"><img src="static/Resources/employee_pressed.png" alt="Employee"></a>
  </div>
  {% endif %}
  <div class = other_icon>
    <a href="profile.html"><img src="static/Resources/user.png" alt="User"></a>
  </div>
</div>
{% endblock icons %}

{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = text>
          Employee - Create an Account
        </div>
      </div>
    </div>
{% endblock page_name %}

{% block content %}

{% if errmsg %}
  <div class = parent>
    Could not register an account because of the following: <br>
    {% for msg in errmsg %}
      <li>{{msg}} </li>
    {% endfor %}
  </div>
{% endif %}
      <div class = "parent">
        <form method = "post">
          <div class = textfeilds>
            <div class = feild>
              <label>Name</label>
              <input type="text" name="name">
            </div>
            <div class = feild>
              <label>Email</label>
              <input type="text" name="email">
            </div>
            <div class = col>
              <div class = feild>
                  <label>Password</label>
                    <input type="password" name="password">
              </div>
              <div class = feild>
                  <label>Confirm Password</label>
                    <input type="password" name="password2">
              </div>
            </div>
            <div class = feild>
              <label>Address</label>
              <input type="text" name="address">
            </div>
          </div>
          <div class = submit_button>
            <input type="submit" value="Create Account">
          </div>
        </form>
      </div>
{% endblock content %}
