<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/common.css">
    <link rel="stylesheet" type="text/css" href="static/submissionfields.css">
    <title>Register</title>
</head>
<body>
    <header>
        <div class = logo>
          Pickeasy
        </div>
        <div class = icons>
          <div class = other_icon>
            <img src="static/Resources/home.png" alt="User">
          </div>
          <div class = "current">
              <a href="ownersCoupon.html"><img src="static/Resources/coupon_pressed.png" alt="Coupon"></a>
          </div>
          <div class = other_icon>
            <img src="static/Resources/user.png" alt="User">
          </div>
        </div>
    </header>
        
    <div class="container">
        <div class = parent>
            <div class = title>
                  <div class = text>
                    Register
                  </div>
            </div>
        </div>

        <div class = parent>
            <div class = center>
                <label>I want to register as a...</label>
            </div>
            <br/>
            <div class = center>
                <input onclick="location.href='registration1.html'" type="button" value="Customer">
            </div>
            <div class = center>
                <input onclick="location.href='registration0.html'" type="button" value="Restaurant Owner">
            </div> 
        </div>
    </div>
</body>
    <!-- Footer -->
    <footer>
        <div class = "creators">
            <p>© 2020 Designed by Enterprise </p>
        </div>
    </footer>
</html>