{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="static/restaurant.css">
<link rel="stylesheet" type="text/css" href="static/sidebar.css">
<link rel="stylesheet" type="text/css" href="static/milestone.css">
{% endblock style %}

{% block title %}
<title>{{ rname }}</title>
{% endblock title %}


{% block sidebar %}
<div class="sidenav">
  <div class = side_title>
    {{ rname }}
  </div>
  <a href="restaurant{{ rid }}">
    <div class = but>
      <button type="button">
        <img src="static/Resources/home_pressed.png" alt="Coupon">
        Home
      </button>
    </div>
  </a>
  <a href="couponOffers{{ rid }}">
    <div class = but>
      <button type="button">
        <img src="static/Resources/coupon_pressed.png" alt="Coupon" class = coupon>
        Coupon Offers
      </button>
    </div>
  </a>
  <a href="availableAchievements{{ rid }}">
    <div class = but>
      <button type="button">
        <img src="static/Resources/achievement_pressed.png" alt="Achievement">
        Achievement Offers
      </button>
    </div>
  </a>
  <a href="milestones{{ rid }}">
    <div class = but>
      <button type="button">
        <img src="static/Resources/flag_pressed.png" alt="Milestones">
        Milestones
      </button>
    </div>
  </a>
  <a href="leaderBoard{{ rid }}">
    <div class = but>
      <button type="button">
        <img src="static/Resources/leaderboard_pressed.png" alt="Achievement">
        Leaderboard
      </button>
    </div>
  </a>
</div>
{% endblock sidebar %}

{% block page_name %}
  <div class = small_option_bar_container>
    <div class = parent>
      <div class = small_option_bar>
        <a href="restaurant{{ rid }}"><img src="static/Resources/home_pressed.png" alt="Coupon"></a>
        <a href="couponOffers{{ rid }}"><img src="static/Resources/coupon.png" alt="Coupon" class = coupon></a>
        <a href="availableAchievements{{ rid }}"><img src="static/Resources/achievement.png" alt="Achievement"></a>
        <a href="milestones{{ rid }}"><img src="static/Resources/flag.png" alt="Milestones"></a>
        <a href="leaderBoard{{ rid }}"><img src="static/Resources/leaderboard.png" alt="Achievement"></a>
      </div>
    </div>
  </div>



    <div class = parent>
      <div class = title>
        <div class = headline>
          {{ rname }}
        </div>
        <div class = love>
          {% if liked %}
          <form method = "post">
            <input type="image" src="static/Resources/heart_pink.png" alt="loved">
            <input type="hidden" name = "unloved">
          </form>
          {% else %}
          <form method = "post">
            <input type="image" src="static/Resources/heart.png" alt="unloved">
            <input type="hidden" name = "loved">
          </form>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock page_name %}

{% block content %}
  <div class = parent>
      <div class = title>
        <div class = subtitle>
          Your Level:
        </div>
        <div class = subtitle>
          <div class = textGradient>Level {{ level }}</div>
        </div>
      </div>
      <progress value="{{ overflow }}" max="{{ (level + 1) * 100 }}">
        ({{ overflow }} / {{ (level + 1) * 100 }} * 100)%
      </progress>

      <div class = col>
        <div class = mypoint>
          My Points:&nbsp;
          <div class = textGradient><div class = bold>
            {% if points %}
              {{ points }}
            {% else %}
              0
            {% endif %}
          </div></div>
        </div>

      <div class = level_progress>
        <div class = progress_count>
          {{ overflow }}
        </div>
        <div class = progress_count_total>
          /{{ (level + 1) * 100 }}
        </div>
        <div class = progress_text>
          EXP to Level {{ level + 1 }}
        </div>
      </div>
      </div>

      <div class = fine_print>
        {% if milestone %}
          Reach level {{ milestone["level"] }} and gain {{ milestone["reward"] }} points.
        {% endif %}
      </div>
    </div>

      <div class = parent>
        <div class = title>
          <div class = subtitle>
            Recent Coupon Offers
          </div>
        </div>
        {% for c in coupons %}
            <div class = container>
              <div class = subsubtitle>
                {{ c["name"] }}
              </div>
              <div class = body>
                Requirement: Level {{ c["level"] }} or Above
              </div>
              <div class = body>
                Cost: {{ c["points"] }} Points
              </div>
              <div class = description>
                {{ c["description"] }}
              </div>
              <div class = mini>
                {% if c["begin"] == None or c["expiration"] == None %}
                  Valid indefinitely
                {% else %}
                  Valid from: {{ c["begin"] }} to {{ c["expiration"] }}
                {% endif %}
              </div>
            </div>
        {% endfor %}
        <a href="couponOffers{{ rid }}">
          <div class = seeMore>
            <button type="button">
              <div class = textGradient> View All Coupon Offers </div>
            </button>
          </div>
        </a>
      </div>

      <div class = parent>
        <div class = title>
          <div class = subtitle>
            Achievement Progress
          </div>
        </div>
        {% for a in achievements %}
          <div class = container>
            <div class = name>
              {{ a["name"] }}
            </div>
            <div>
              {{ a["description"] }}
            </div>
            <div class = achievement_progress_bar>
              <progress value="{{ a["progress"] }}" max="{{ a["progressMax"] }}">
                ({{ a["progress"] }} / {{ a["progressMax"] }} * 100)%
              </progress>
              <div class = check>✔</div>
            </div>
            <div class = achievement_footer>
              <div class = achievement_progress>
                <div class = achievement_progress_text>
                  Progress:
                </div>
                <div class = progress_count>
                  {{ a["progress"] }}
                </div>
                <div class = progress_count_total>
                  /{{ a["progressMax"] }}
              </div>
              </div>
              <div class = rewards>
                <div class = number>{{ a["points"] }}</div>
                <div class = rewards_text>PT</div>
                <div class = number>{{ a["experience"] }}</div>
                <div class = rewards_text>EXP</div>
              </div>
            </div>
          </div>
        {% endfor %}
        {% if achievements|length == 0 %}
        <div class = body>
          No achievements in progress.
        </div>
        {% endif %}
        <a href="availableAchievements{{ rid }}">
          <div class = seeMore>
            <button type="button">
              <div class = textGradient> View All Available Achievements </div>
            </button>
          </div>
        </a>
      </div>

      <div class = parent>
        <div class = title>
          <div class = subtitle>
            Next Milestones
          </div>
        </div>
        <div class = table>
            <div class = header>
              <div class = columns>
                <div class = subsubtitle>
                  Level
                </div>
                <div class = subsubtitle>
                  Reward Points
                </div>
                <div class = subsubtitle>
                  Status
                </div>
              </div>
            </div>

              {% for t in thresholds %}
                <div class = columns>
                    <div class = child>
                      {{ t["level"] }}
                    </div>
                    <div class = child>
                      {{ t["reward"] }} PTS
                    </div>
                    <div class = child>
                      {% if level >=  t["level"] %}
                        <div class = pink_text>
                          Completed
                        </div>
                      {% else %}
                        Incomplete
                      {% endif %}
                    </div>
                  </div>
              {% endfor %}
        </div>
        <a href="milestones{{ rid }}">
          <div class = seeMore>
            <button type="button">
              <div class = textGradient> View All Milestones </div>
            </button>
          </div>
        </a>
      </div>
  {% endblock content %}

  {% block script %}
  <script type="text/javascript" src = "static/refresh.js"></script>
  {% endblock script %}
