{% extends "base.html" %}

{% block title %}
<title>{{ rname }}</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="static/sidebar.css">
<link rel="stylesheet" type="text/css" href="static/restaurant.css">
{% endblock style %}

{% block sidebar %}
<div class="sidenav">
  <div class = side_title>
    {{ rname }}
  </div>
  <a href="restaurant{{ rid }}">
    <div class = but>
      <button type="button">
        <img src="static/Resources/home_pressed.png" alt="Coupon">
        Home
      </button>
    </div>
  </a>
  <a href="couponOffers{{ rid }}">
    <div class = but>
      <button type="button">
        <img src="static/Resources/coupon_pressed.png" alt="Coupon" class = coupon>
        Coupon Offers
      </button>
    </div>
  </a>
  <a href="availableAchievements{{ rid }}">
    <div class = but>
      <button type="button">
        <img src="static/Resources/achievement_pressed.png" alt="Achievement">
        Achievement Offers
      </button>
    </div>
  </a>
  <a href="milestones{{ rid }}">
    <div class = but>
      <button type="button">
        <img src="static/Resources/flag_pressed.png" alt="Milestones">
        Milestones
      </button>
    </div>
  </a>
  <a href="leaderBoard{{ rid }}">
    <div class = but>
      <button type="button">
        <img src="static/Resources/leaderboard_pressed.png" alt="Achievement">
        Leaderboard
      </button>
    </div>
  </a>
</div>
{% endblock sidebar %}

{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = text>
          Achievements
        </div>
      </div>
    </div>
    <form method = "post">
      <div class = filter_nav_container>
        <div class = parent>
          <div class = filter_nav>
            {% if filter == "all" %}
              <div class = current><input type = "submit" value = "All" name = all></div>
            {% else %}
              <input type = "submit" value = "All" name = all>
            {% endif %}
            {% if filter == "available" %}
              <div class = current><input type = "submit" value = "Available" name = available></div>
            {% else %}
              <input type = "submit" value = "Available" name = available>
            {% endif %}
            {% if filter == "in_progress" %}
              <div class = current><input type = "submit" value = "In Progress" name = in_progress></div>
            {% else %}
              <input type = "submit" value = "In Progress" name = in_progress>
            {% endif %}
            {% if filter == "completed" %}
              <div class = current><input type = "submit" value = "Completed" name = completed></div>
            {% else %}
              <input type = "submit" value = "Completed" name = completed>
            {% endif %}
          </div>
        </div>
      </div>
    </form>

{% endblock page_name %}

{% block content %}
    {% for a in achievements %}
      {% if (filter == "all") or (filter == "available" and a["status"] == 0) or (filter == "in_progress" and a["status"] == 1) or (filter == "completed" and a["status"] == 2) %}
      <div class = parent>
        <div class = title>
          <div class = name>
            {{ a["name"] }}
          </div>
          {% if a["status"] < 2 %}
              {% if a['expired'] == 1 %}
              <div class = name>
                <div class = use_button>
                  <div class = toPoor>
                    <input type="submit" value = "Expired">
                  </div>
                </div>
              </div>
              {% elif a['expired'] == -1 %}
              <div class = use_button>
                <div class = toPoor>
                  <input type="submit" value = "Update Progress">
                </div>
              </div>
              {% else %}
              <div class = use_button>
                <form method = "post">
                  <input type="submit" value = "Update Progress" name = update>
                    <input type="hidden" value = {{a["aid"]}} name = achievement>
                </form>
              </div>
              {% endif %}
          {% endif %}
        </div>
        <div class = description>
          {{ a["description"] }}
        </div>
        <div class = achievement_progress_bar>
          <progress value="{{ a["progress"] }}" max="{{ a["progressMax"] }}">
            ({{ a["progress"] }} / {{ a["progressMax"] }} * 100)%
          </progress>
          <div class = "check{% if a["status"] == 2%}_complete{% endif %}">✔</div>
        </div>
        <div class = achievement_footer>
          <div class = achievement_progress>
            <div class = achievement_progress_text>
              Progress:
            </div>
            <div class = progress_count>
              {{ a["progress"] }}
            </div>
            <div class = progress_count_total>
              /{{ a["progressMax"] }}
          </div>
          </div>
          <div class = rewards>
            <div class = number>{{ a["points"] }}</div>
            <div class = rewards_text>PT</div>
            <div class = number>{{ a["experience"] }}</div>
            <div class = rewards_text>EXP</div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
{% endblock content %}
