<!--                                          ----
---- employee.html contains all frontend      ----
----     html for the owners view of the      ----
----               employee page              ----
----                                          --->

{% extends "base.html" %}
{% block style %}
{% endblock style %}
{% block title %}
<title>Settings</title>
{% endblock title %}

{% block settings %}_pressed{% endblock settings %}

{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = text>
          Restaurant Settings
        </div>
    </div>
  </div>
{% endblock page_name %}

{% block content %}

{% endblock content %}
