{% extends "base.html" %}

{% block title %}
<title>Home</title>
{% endblock title %}

{% block icons %}
{% endblock icons %}

{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = text>
          Scan Forbidden!
        </div>
      </div>
      <div class = title>
        {% if forbiddenType == '0' %}
        <div class = text>
          This {{ itemType }} has already been completed.
        </div>
        {% elif forbiddenType == '-1' %}
        <div class = text>
          This {{ itemType }}'s start date has not been reached.
        </div>
        {% elif forbiddenType == '1' %}
        <div class = text>
          This {{ itemType }} has already expired.
        </div>
        {% endif %}
      </div>
    </div>
{% endblock page_name %}