{% extends "base.html" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="static/submissionFields.css">
  <link rel="stylesheet" type="text/css" href="static/search.css">
{% endblock style %}

{% block title %}
<title>Search</title>
{% endblock title %}

{% block icons %}
<div class = icons>
  <div class = other_icon>
    <a href="search.html"><img src="static/Resources/search_pressed.png" alt="Search"></a>
  </div>
  <div class = other_icon>
    <a href="home.html"><img src="static/Resources/home.png" alt="Home"></a>
  </div>
  <div class = "current">
      <a href="coupon.html"><img src="static/Resources/coupon.png" alt="Coupon"></a>
  </div>
  <div class = other_icon>
    <a href="profile.html"><img src="static/Resources/user.png" alt="User"></a>
  </div>
</div>
{% endblock icons %}

{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = text>
          Search Restaurants
        </div>
      </div>
    </div>
{% endblock page_name %}

{% block content %}
  <div class = parent>
    <form method = "post">
    
      <div class = textfeilds>
        <div class = feild>
            
              <input type="text" name="query" value="{{ query }}">
        </div>
      </div>
      <div class = search_button>
        <input type="submit" value="Search">
      </div>
    
    </form>
  </div>

  {% for r in restaurants %}
    <div class = parent>
      <div class = inline>
          <div class = name>
            {{ r.name }}
          </div>
          <div class = goto>
            <a href="restaurant/{{ r.rid }}.html"><input type="redirect" value="Visit"></a>
          </div>
      </div>
      <div class = address>
          {{ r.address }}
      </div>
    </div>
  {% endfor %}
{% endblock content %}

