{% extends "base.html" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="static/submissionFields.css">
  <link rel="stylesheet" type="text/css" href="static/search.css">
{% endblock style %}

{% block title %}
<title>Search</title>
{% endblock title %}

{% block search %}_pressed{% endblock search %}

{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = headline>
          Search Restaurants
        </div>
      </div>
    </div>
{% endblock page_name %}

{% block content %}
  <div class = parent>
    <form method = "post">
      <div class = textfeilds>
        <div class = feild>
          {% if query %}
            <input type="text" name = "query" value = "{{ query }}">
          {% else %}
            <input type="text" name = "query">
          {% endif %}
        </div>
      </div>
      <div class = submit_button>
        <div class = search_button>
            <input type="submit" value="Search">
        </div>
      </div>
    </form>
  </div>

  {% for r in restaurants %}
    <div class = parent>
      <div class = container>
        <div class = left_container>
            <div class = subtitle>
              {{ r['name'] }}
            </div>
            <div class = body>
                {{ r['address'] }}
            </div>
        </div>
        <div class = right_container>
          <div class = goto>
            <form method = "post">
              <div class = submit_button>
                <input type="submit" value="Visit">
                <input type="hidden" name = "rid" value = {{r['rid']}}>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock content %}

{% block script %}
<script type="text/javascript" src = "static/refresh.js"></script>
{% endblock script %}
