{% extends "base.html" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="static/submissionFields.css">
  <link rel="stylesheet" type="text/css" href="static/search.css">
{% endblock style %}

{% block title %}
<title>Search</title>
{% endblock title %}

{% block icons %}
<div class = icons>
  <div class = other_icon>
    <a href="search.html"><img src="static/Resources/search_pressed.png" alt="Search"></a>
  </div>
  <div class = other_icon>
    <a href="home.html"><img src="static/Resources/home.png" alt="Home"></a>
  </div>
  <div class = "current">
      <a href="coupon.html"><img src="static/Resources/coupon.png" alt="Coupon"></a>
  </div>
  <div class = other_icon>
    <a href="profile.html"><img src="static/Resources/user.png" alt="User"></a>
  </div>
</div>
{% endblock icons %}

{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = text>
          Search Restaurants
        </div>
      </div>
    </div>
{% endblock page_name %}

{% block content %}
  <div class = parent>
    <form method = "post">
      <div class = textfeilds>
        <div class = feild>
          {% if query %}
            <input type="text" name = "query" value = "{{ query }}">
          {% else %}
            <input type="text" name = "query">
          {% endif %}
        </div>
      </div>
      <div class = search_button>
        <input type="submit" value="Search">
      </div>

    </form>
  </div>

  {% for r in restaurants %}
    <div class = parent>
      <div class = container>
        <div class = left_container>
            <div class = name>
              {{ r['name'] }}
            </div>
            <div class = address>
                {{ r['address'] }}
            </div>
        </div>
        <div class = right_container>
          <div class = goto>
            <form method = "post">
              <input type="submit" value="Visit">
              <input type="hidden" name = "rid" value = {{r['rid']}}>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock content %}
