<!--                                          ----
----    coupon.html contains all frontend     ----
----     html for the owners view of the      ----
----               coupon page                ----
----                                          --->

{% extends "base.html" %}
{% block style %}<link rel="stylesheet" type="text/css" href="static/coupon.css">{% endblock style %}
{% block title %}
<title>My Coupons</title>
{% endblock title %}


{% block icons %}
<div class = icons>
  {% if session['type'] == -1 %}
  <div class = other_icon>
    <a href="search.html"><img src="static/Resources/search.png" alt="Search"></a>
  </div>
  {% endif %}
  <div class = other_icon>
    <a href="home.html"><img src="static/Resources/home.png" alt="Home"></a>
  </div>

  {% if session['type'] == 1 %}
  <!-- This is only displayed if they screen size is larger then 700px -->
  <div class = "current">
      <a href="coupon.html">
          <img src="static/Resources/coupon_pressed.png" alt="Coupon">
      </a>
  </div>

  <!-- This is only displayed if they screen size is smaller then 700px -->
  <div class = small_window>
    <button onclick="dropdown_menu()" class="coupon_drop_down">
      <img src="static/Resources/coupon_pressed.png" alt="Coupon" class = coupon>
    </button>
    <div id="dropdown" class="dropdown_container">
      <a href="coupon.html">My Coupons</a>
      <a href="createCoupon.html">Create a Coupon</a>
      <a href="viewUserCoupons.html">View Redeemed Coupons</a>
    </div>
  </div>
  {% else %}
  <div class = other_icon>
    <a href="home.html"><img src="static/Resources/coupon_pressed.png" alt="Home" class = coupon></a>
  </div>
  {% endif %}

  {% if session['type'] == 1 %}
  <div class = other_icon>
    <a href="employee.html"><img src="static/Resources/employee.png" alt="Employee"></a>
  </div>
  {% endif %}
  <div class = other_icon>
    <a href="profile.html"><img src="static/Resources/user.png" alt="User"></a>
  </div>
</div>
{% endblock icons %}


{% block sidebar %}
<div class="sidenav">
  <div class = side_title>
    Coupons
  </div>
  <a href="coupon.html">
    <div class = but>
      <button type="button">
        <img src="static/Resources/coupon_pressed.png" alt="Coupon" class = coupon>
        My Coupons
      </button>
    </div>
  </a>
  {% if session['type'] == 1 %}
  <a href="createCoupon.html">
    <div class = but>
      <button type="button">
        <img src="static/Resources/plus.png" alt="Coupon">
        Create A Coupon
      </button>
    </div>
  </a>
  <a href="viewUserCoupons.html">
    <div class = but>
      <button type="button">
        <img src="static/Resources/eye.png" alt="Coupon">
        View Redeemed Coupons
      </div>
      </button>
    </div>
  </a>
  {% endif %}
</div>
{% endblock sidebar %}


{% block page_name %}
    <div class = parent>
      <div class = title>
        <div class = text>
          Customers' Redeemed Coupons
        </div>
      </div>
      <div class = fine_print>
        Customers that hold deleted coupons can still use them
      </div>
    </div>
{% endblock page_name %}

{% block content %}
  {% for c in coupons %}
    <div class = parent>
      <div class = title>
          <div class = name>
            {{ c['name'] }}
          </div>
          <div class = status>
            {% if c['expiration'] and today > c['expiration'] %}
              Status: Expired
            {% elif c['deleted'] == 1%}
              Status: Deleted
            {% else %}
              <div class = placeholder> Status:&nbsp;</div>
              <div class = active>Active</div>
            {% endif %}
          </div>
      </div>
      <div class = description>
        {{ c["description"] }}
      </div>

      <div class = holder>
        Number of holders: {{ c['holders'] }}
      </div>
      <div class = holder>
        Number of uses: {{ c['used'] }}
      </div>
    </div>
  {% endfor %}
{% endblock content %}

{% block script %} <script type="text/javascript" src = "static/coupons.js"></script>{% endblock script %}
