/*                                                  *
*                                                   *
*           Styling for Achievement.HTML            *
*                                                   *
*                                                   */
/* Readjusting headline to compensate for difference in font size */
.headline {
  margin-top: 10px;
}

/* Styles the text that is right aligned within the achievement creation text feilds*/
.points {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Hides other achievement types */
.type1, .type2, .type3 {
  flex-direction: column;
  display: none;
}

/* Shows only the first achievement type */
.type0 {
  display: flex;
  flex-direction: column;
}

/* Styles the description in achievement creation */
.body {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

/* Styles the reward amount on achievement page */
.number {
  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red));
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red));
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 600;
}

/* Styles the reward text on achievement page */
.rewards_text {
  padding-right: 5px;
  font-weight: 525;
}

.rewards {
  display: flex;
  justify-content: flex-end;
}
