/*                                                  *
*                                                   *
*           Styling all .HTML files used            *
*                                                   *
*                                                   */

/* imports the google font used within the pickeasy app */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
/* Source: CSCB20 course and https://www.w3schools.com/ for tutorials */
/* Defining constants used in all .CSS files */
:root {
    /* Colours */
    --background: #f8f8f9;
    --forground: #ffffff;
    --black: #000000;
    --pink: #e21f70;
    --orange: #ff4d2c;
    --red: #f9433b;
    --darkGrey: #6b6b6b;
    --purpleGrey: #C9C9CF;

    /* Font sizes */
    --logo: 32px;
    --title: 25px;
    --headline: 28px;
    --sidetitle:20px;
    --subtitle: 22px;
    --subsubtitle: 18px;
    --body: 15px;
    --mini: 12px;

    /* Font weights */
    --thin: 100;
    --extra-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;

    /* line height */
    --lh: 1.5;

    /* Page sizes */
    --normal: 700px;
    --mobile: 550px;
}
/*                                                  *
*   Removing default styling on elements            *
*                                                   */
/* Removed styles on pressed links */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: unset;
}

/* Removed initial styling from buttons */
button, input {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}


/*                                                  *
*   Styling the first parent block on each page     *
*                                                   */
/* Styling of the box that holds the heading and icons */
.title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* The page name at the top of each page ie. login */
.headline {
  font-size: var(--headline);
  font-weight: var(--semi-bold);
}



/*                                                  *
*   Styling for types of text                       *
*                                                   */
/* Styling for subtitles in parent blocks */
.subtitle {
  font-size: var(--subtitle);
  font-weight: var(--semi-bold);
  margin-bottom: 8px;
}

/* Styles bodies of text */
.body {
  font-size: var(--body);
}

/* Text for block titles */
.subsubtitle {
  font-size: var(--subsubtitle);
  font-weight: var(--semi-bold);
}

.description {
  padding-left: 20px;
  padding-right: 20px;
  font-size: var(--body);
}

.mini {
  font-size: var(--mini);
  color: var(--darkGrey);
}

/* Styling little text */
.fine_print {
  font-size: var(--mini);
  color: var(--darkGrey);
}

/* Turns test to a pink-orange gradient colour */
.textGradient {
  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red));
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red));
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* Styles the plus button beside the headline */
.plus {
  font-size: 40px;
  font-weight: var(--medium);
  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red));
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red));
  color:transparent;
  -webkit-background-clip: text;
}

.bold {
  font-weight: var(--semi-bold);
}

/* Puts children in a row formate */
.row {
  display: flex;
  direction: row;
}

.container {
 padding-top: 15px;
}


/*                                                  *
*   Styling for the long see more buttons           *
*                                                   */
/* Styles for the long see more button */
.seeMore button {
  font-family: 'Poppins', sans-serif;
  color: var(--pink);
  margin-top: 15px;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  font-weight: 400;
  font-size: var(--body);
  text-align: center;
  cursor: pointer;
}

/* Styles for the long see more button when hovering */
.seeMore button:hover {
  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red));
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red));
  color: transparent;
  -webkit-background-clip: background;
  background-clip: background;
  color: var(--forground);
}

/* Styles the text on the see more button */
.seeMore .textGradient {
  height: 40px;
  margin-top: 8px;
}

/* Styles the text on the see more button when hovering over it */
.seeMore .textGradient:hover {
  color: var(--forground);
}


/*                                                  *
*   Styling for filtering                           *
*                                                   */
/* Styles the container for filter bars */
.filter_nav_container .parent {
  background-color: transparent
}

/* Styles the filter nav container */
.filter_nav {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: -20px;
}

/* Styles the icons within the filter nav */
.filter_nav img {
  margin-right: -1px;
}

/* Styles submit input within the filter nav */
.filter_nav input[type = 'submit'] {
  font-family: 'Poppins', sans-serif;
  font-size: var(--body);
  font-weight: 300;
  height: 40px;
  background-color: var(--forground);
  padding-left: 15px;
  padding-right: 15px;
  background-image: -webkit-linear-gradient(left, var(--forground), var(--forground));
  background-image:         linear-gradient(to right, var(--forground), var(--forground));
  color:transparent;
  color: var(--black);
}

/* Styles the current filter applied - makes it pink */
.filter_nav .current input[type = 'submit'] {
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red));
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red));
  color:transparent;
  color: var(--forground);
}


/*                                                  *
*   Styling setting gears                           *
*                                                   */
/* Setting styles for the gear icon*/
.settings_dropdown img {
  margin-bottom: -3px;
  width: 20px;
  height: 20px;
  z-index: 1;
}

/* Styling the dropdown container*/
.settings_dropdown {
  position: relative;
  display: inline-block;
}

/* Styling each element inside the dropdown*/
.options {
  display: none;
  position: absolute;
  background-color: var(--background);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

/* Styling the submit inputs within the dropdown */
.options input {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  margin: 0px;
}

/* Styling when submit inputs are hovered over */
.options input:hover {
  background-color: var(--purpleGrey);
}

/* Triggered when the gear icon is hovered over */
.settings_dropdown:hover .options {
  display: block;
}
