/*                                                  *
*                                                   *
*              Styling for coupon.HTML              *
*                                                   *
*                                                   */


.plus {
  font-size: 40px;
  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red));
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red));
  color:transparent;
  -webkit-background-clip: text;
}

.name, .status {
  font-weight:700;
  font-size: var(--subtitle);
}

.expiration {
  font-size: var(--mini);
  color: var(--darkGrey);
}

.expiration_qr {
  font-size: 16px;
  color: var(--darkGrey);
  font-weight: 500;
}

.expiration_inf_qr {
  font-size: var(--subtitle);
  color: var(--darkGrey);
  padding-left: 1900px;
  padding-right: 0px;
}

.description {
  padding-left: 20px;
  padding-right: 20px;
}

.description_qr {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
}

.points {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  display: block;
	margin-top: -15px;
  margin-bottom: 19px;
}

button, input {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.settings_dropdown img {
  /* Change this value to move the settings icon down / up */
  margin-bottom: -3px;
  width: 20px;
  height: 20px;
}


.settings_dropdown {
  position: relative;
  display: inline-block;
}

.options {
  display: none;
  position: absolute;
  background-color: var(--background);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.options input {
  font-family: 'Poppins', sans-serif;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

.options input:hover {
  background-color: var(--purpleGrey);
}

.settings_dropdown:hover .options {
  display: block;
}

/* TODO if any other pages want the sidebar, move the functions below to common.css */

/* Styles the container for the sidebare */
.sidenav {
  font-family: 'Poppins', sans-serif;
  width: 250px;
  position: fixed;
  top: 75px;
  left: 8px;
  background: var(--forground);
  overflow-x: hidden;
}

/* Adds the coupon title to the sidebar */
.side_title {
  font-weight:600;
  font-size: var(--sidetitle);
  padding-left: 10px;
}

.but button {
  display: flex;
  flex-direction: row;
  align-items:center;
}

/* Styles the little images next to the sidebar options */
.but img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  position: relative;
}

/* Styling for sidebar buttons */
.but button {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  font-weight: 300;
  font-size: var(--body);
  text-align: left;
  cursor: pointer;
}

/* Styles the sidebar buttons when hovering over them */
.but button:hover {
  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red));
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red));
  color:transparent;
  color: var(--forground);
  font-size: var(--body);
}

/* Turns the black icon images white when hovering over button */
.but button:hover img{
  -webkit-filter: invert(100%);
}

/* Rotates the coupon image */
.coupon{
  transform: rotate(-20deg);
}

/* This is used when the tab size is smaller then 700px */
@media only screen and (max-width: 700px) {
    .parent {
      max-width: 70%;
    }

    .parent_qr {
      max-width: 80%;
    }

    .sidenav {
      display: none;
    }

    .current {
      display:none;
    }
}

/* This is used when the tab size is bigger then 700px */
@media only screen and (min-width: 700px) {
  /* Changes the size of the boxes so side bar does not overlap */
  .parent {
    max-width: none;
    margin-left: 270px;
    margin-right: 13px;
  }

  /* A style to let the box align at the center */
  .parent_qr {
    max-width: none;
    margin-left: 100px;
    margin-right: 100px;
  }

  .small_window {
    display: none;
  }
}

/* Removed styling from the coupon icon in the header */
.current button {
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}


/* Styling for the drop down menu when the screen size is too small */
.dropdown_container {
  display: none;
  position: absolute;
  background-color: var(--forground);
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  margin-top: 15px;
}

.dropdown_container a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  font-size: var(--body);
}

#dropdown a:hover {
  background-color: var(--purpleGrey);
}

.show {
  display: block;
}


.statusA {
  color: var(--darkGrey);
}

.statusD, .statusE {
  color: var(--darkGrey);
}

.right_container {
  font-size: var(--subtitle);
  font-weight: 300;
}

.right_container_qr {
  font-size: var(--sidetitle);
  font-weight: 600;
}

/* For QR page points */
.cost_point_qr {
  font-size: var(--sidetitle);
  font-weight: 1000;
  color: black;
}

.status {
  display: flex;
  direction: row;
}

.active {
  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red));
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red));
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.footer{
  display: flex;
  justify-content: space-between;
}

.use_button input[type = submit] {
  border-radius: 5px;

  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red)); /* For Chrome and Safari */
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red)); /* Standard syntax; must be last */
  color:transparent;
  color: var(--forground);
  font-size: var(--body);

  margin-bottom: -5px;
  width: 50px;
  height: 25px;
}

/* QR code align */
.image {
  max-width: 100%;
  height: auto;
  width: auto;
  text-align: center;
}