/*                                                  *
*                                                   *
*              Styling for coupon.HTML              *
*                                                   *
*                                                   */


.plus {
  font-size: 40px;
  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red));
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red));
  color:transparent;
  -webkit-background-clip: text;
}

.name {
  font-weight:700;
  font-size: var(--subtitle);
}

.expiration {
  font-size: var(--mini);
  color: var(--darkGrey);
}

.description {
  padding: 20px;
}
