/*                                                  *
*                                                   *
*              Styling for coupon.HTML              *
*                                                   *
*                                                   */


.plus {
  font-size: 40px;
  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red));
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red));
  color:transparent;
  -webkit-background-clip: text;
}

.name {
  font-weight:700;
  font-size: var(--subtitle);
}

.expiration {
  font-size: var(--mini);
  color: var(--darkGrey);
}

.description {
  padding-left: 20px;
  padding-right: 20px;
}

.points {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  display: block;
	margin-top: -15px;
  margin-bottom: 19px;
}

button, input {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
}

.settings_dropdown img {
  /* Change this value to move the settings icon down / up */
  margin-bottom: -3px;
  width: 20px;
  height: 20px;
}


.settings_dropdown {
  position: relative;
  display: inline-block;
}

.options {
  display: none;
  position: absolute;
  background-color: var(--background);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.options input {
  font-family: 'Poppins', sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.options input:hover {
  background-color: var(--purpleGrey);
}

.settings_dropdown:hover .options {
  display: block;
}

/* TODO if any other pages want the sidebar, move the functions below to common.css */

/* Styles the container for the sidebare */
.sidenav {
  font-family: 'Poppins', sans-serif;
  width: 250px;
  position: fixed;
  top: 75px;
  left: 8px;
  background: var(--forground);
  overflow-x: hidden;
}

/* Adds the coupon title to the sidebar */
.side_title {
  font-weight:600;
  font-size: var(--sidetitle);
  padding-left: 10px;
}

/* Changes the size of the boxes so side bar does not overlap */
.parent {
  max-width: none;
  margin-left: 270px;
  margin-right: 13px;
}

/* Styles the little images next to the sidebar options */
.but img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
  top: 3px;
}


/* Styling for sidebar buttons */
button {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  font-weight: 300;
  font-size: var(--body);
  text-align: left;
}

/* Styles the sidebar buttons when hovering over them */
button:hover {
  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red));
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red));
  color:transparent;
  color: var(--forground);
  font-size: var(--body);
}

/* Turns the black icon images white when hovering over button */
button:hover img{
  -webkit-filter: invert(100%);
}

/* Rotates the coupon image */
.coupon{
  transform: rotate(-20deg);
}
