/*                                                  *
*                                                   *
*             Styling for employee.HTML             *
*                                                   *
*                                                   */
.headline {
  margin-top: 10px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius:0;
  border-radius:0;
}
