/*                                                  *
*                                                   *
*       Styling used by manageMilestones.html       *
*                                                   *
*                                                   */

/* Sets up the table for milestones */
.table {
  display: flex;
  flex-direction: column;
}

/* Sets up the columns for the milestone table */
.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

/* Styles the first column in the table */
.columns .textfeilds:nth-child(1),
.columns .subsubtitle:nth-child(1),
.columns .child:nth-child(1) {
  width: 40%;
  margin-right: 5px;
}

/* Styles the second column in the table */
.columns .textfeilds:nth-child(2),
.columns .subsubtitle:nth-child(2),
.columns .child:nth-child(2) {
  width: 40%;
  margin-right: 5px;
  margin-left: 5px;
  text-align: left;
}

/* Styles the third column in the table */
.columns .textfeilds:nth-child(3),
.columns .subsubtitle:nth-child(3),
.columns .child:nth-child(3) {
  width: 20%;
  max-width: 100px;
  margin-left: 5px;
}

.columns .child:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Repositions the third column elements */
.columns .textfeilds:nth-child(3) {
  position: relative;
  top: 3px;
}

/* Styles the vertical spacing between elements in tabl */
.columns {
  margin-top: 15px;
}

/* Styling for submit buttons */
.textfeilds input[type = submit] {
  max-width: 80px;
  width: 100%;
}

/* Styling for update button */
.update {
  margin-bottom: -30px;
}

/* Styling for update button */
.update .child:nth-child(1) {
  position:relative;
  top: 11px;
}
