/*                                                  *
*                                                   *
*           Styling for restaurant.HTML             *
*                                                   *
*                                                   */
/* Readjusting headline to compensate for difference in font size */
.headline {
  margin-top: 3px;
}

/* Styles expiration dates */
.expiration {
  font-size: var(--mini);
  color: var(--darkGrey);
}

/* Styles points */
.points {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Styles the text for displaying level */
.level_title {
  font-size: var(--title);
  font-weight: var(--semi-bold);
}

/* Styles a flex-box container to hold elements in a row */
.col {
  display: flex;
  flex-direction: row;
  font-size: var(--body);
  justify-content: space-between;
}

/* Styles the container that holds users total points*/
.mypoint {
  display: flex;
  flex-direction: row;
}
.col:first-of-type > div:last-child { order: -1; }

/* Styles the container that holds the progression bar */
.level_progress {
  display: flex;
  justify-content: flex-end;
  font-size: var(--body);
  float: right;
}

/* Styles the text under the progression bar */
.progress_text {
  padding-left: 5px;
}

/* Styles the pink text in progression_text */
.progress_count {
  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red));
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red));
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 600;
}

/* Styles the bold text in progression_text */
.progress_count_total {
  font-weight: 600;
}

/* All progress bar styling referenced from https://css-tricks.com/html5-progress-element/ */

/* Styles the progression bar */
progress {
  width: 100%;
  height: 30px;
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  -webkit-appearance: none;
  appearance: none;
}

/* Styles the progression bar */
progress::-webkit-progress-bar{
  border-radius: 45px;
  background: lightgrey;
}
/* Styles the progression bar */
progress::-webkit-progress-value {
  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red));
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red));
  border-radius: 45px;
}

/* Styles the progression bar container for achievements */
.achievement_progress_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styles the progression text container for achievements */
.achievement_progress {
  display: flex;
  justify-content: left;
  font-weight: 500;
}

/* Styles the progression text for achievements */
.achievement_progress_text {
  padding-right: 5px;
}

/* Styles the progression footer for achievements */
.achievement_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Styles the progression number for achievements */
.number {
  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red));
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red));
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 600;
}

/* Styles the reward text for achievements */
.rewards_text {
  padding-right: 5px;
  font-weight: var(--semi-bold);
}

/* Styles the reward container for achievements */
.rewards {
  display: flex;
  justify-content: flex-end;
}

/* Styles the check mark for achievements that are completed */
.check_complete {
  font-size: 32px;
  font-weight: 1000;
  padding-left: 5px;
  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red));
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red));
  color:transparent;
  -webkit-background-clip: text;
}

/* Styles the check mark for achievements that are incomplete */
.check {
  font-size: 32px;
  font-weight: 1000;
  padding-left: 5px;
  color: lightgrey;
}


/* Styling the update progress button */
.use_button input[type = submit] {
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;

  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red)); /* For Chrome and Safari */
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red)); /* Standard syntax; must be last */
  color:transparent;
  color: var(--forground);
  font-size: var(--body);

  margin-top: -5px;
  width: 150px;
  height: 30px;
}

/* Styles fine print under button for purchasing coupons */
.fine_print, .toPoor {
  text-align: center;
  margin-top: 5px;
  cursor: default;
}

/* Styles fine print for next milestone goal */
.fine_print .milestone {
  text-align: center;
}

/* Styles button for purchasing coupons */
.toPoor input[type = submit] {
  background-image: none;
  background-color: var(--purpleGrey)
}

/* Styles the purchases messages link */
.message a {
  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red));
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red));
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* Restyles bold */
b {
  font-weight: var(--semi-bold);
}

/* Styles the points displayed on coupon offer page*/
.total_points {
  font-size: var(--subsubtitle);
  display: flex;
  flex-direction: row;
}


/* Styling for the heart button in the headline */
.love input {
  width: 30px;
}

/* Styling for the heart position in the headline */
.love {
  margin-top: 10px;
}

/* Sets max width of QR code to the size of parent div */
.image img {
  max-width: 100%;
}

/* Centers the QR code*/
.image {
  text-align: center;
}

/* restyles the submit button to be vertically centered */
.submit_button {
 margin-top: 15px;
}

/* Styling the icons in the restaurant nav bar */
.small_option_bar img {
  height: 30px;
}

/* Styling the box that holds the icons in the restaurant nav bar */
.small_option_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}

/* Styling the container that holds the restaurant nav bar */
.small_option_bar_container {
  display: none;
}
