/*                                                  *
*                                                   *
*              Styling for coupon.HTML              *
*                                                   *
*                                                   */


.search_button {
  margin-top: -19px;
  margin-bottom: -19px;
  text-align: right;
}

.subtitle {
  margin-bottom: 0px;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right_container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.goto input[type = submit] {
  width: 100px;
}
