/*                                                  *
*                                                   *
*         Styling all .HTML files that use          *
*                    textfeilds                     *
*                                                   */

/* Styling the textfeilds for the textfeilds */
.textfeilds .feild{
	display: block;
	padding: 9px;
	border:1px solid var(--black);
	margin-bottom: 30px;
	border-radius: 3px;
}

/* Styling for the textfeild labels */
.textfeilds .feild > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: var(--forground);
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: var(--black);
	font-size: 14px;
	overflow: hidden;
}

.textfeilds input[type="text"],
.textfeilds input[type="password"],
.textfeilds input[type="date"],
textarea,
select {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 10px;
  background: var(--forground);
  color: var(--black);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	outline: none;
	border: none;
  width: 100%
	height: 25px;
	line-height: 25px;
	font-size: var(--body);
}

/* Sets the height for text feilds */
textarea {
	height: 150px;
}

/* Styling for submit buttons */
input[type = submit] {
  font-family: 'Poppins', sans-serif;
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  margin-bottom: 15px;

  background-image: -webkit-linear-gradient(left, var(--pink), var(--orange), var(--red)); /* For Chrome and Safari */
  background-image:         linear-gradient(to right, var(--pink), var(--orange), var(--red)); /* Standard syntax; must be last */
  color:transparent;
  color: var(--forground);
  font-size: var(--body);
}

.submit_button {
  text-align: center;
}


/* Styling to  make the password boxes side by side */
.col {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.col .feild {
  flex: 1 1 0px;
}

.col .feild:nth-child(1) {
  margin-right: 10px;
}

.col .feild:nth-child(2) {
  margin-left: 10px;
}
