<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="web_login">
    <form name="form2" id="regUser" accept-charset="utf-8"  action="/u/doregister" method="post">
        <ul class="reg_form" id="reg-ul">
            <div id="userCue" class="cue">Add something</div>
            <li>
                <label for="email"  class="input-tips2">email：</label>
                <div class="inputOuter2">
                    <input type="text" id="email" name="email" maxlength="16" class="inputstyle2"/>
                </div>
            </li>
            <li>
                <label for="password" class="input-tips2">password：</label>
                <div class="inputOuter2">
                    <input type="password" id="password"  name="password" maxlength="16" class="inputstyle2"/>
                </div>
            </li>
            <li>
                <div class="inputArea">
                    <input type="submit" id="reg"  style="margin-top:10px;margin-left:85px;" class="button_blue" value="agree and register"/> <a href="#" class="zcxy" target="_blank">agreement</a>
                </div>
            </li><div class="cl"></div>
        </ul>
    </form>
</div>
</body>
</html>
